.form-wrapper {
    width: 420px;
    background-color: rgba(223, 223, 255, 0.582);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.form-wrapper p {
    text-align: center;
}

.new-brewery-form {
    padding: 10px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

label {
    margin-bottom: 5px;
    font-size: 13px;
}

input,
textarea {
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid coral;
    box-sizing: border-box;
}

[type=submit] {
    background-color: rgba(255, 127, 80, 0.356);
    box-shadow: 2px 2px 2px rgba(66, 2, 92, 0.322);
    text-align: center;
}

.brewery-listing {
    background-image: url("src/app/MMS_Blog_CO-beer-getty_hero.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    margin: 5px;
}

h2 {
    color: coral;
    text-align: center;
}

h3 {
    width: 200px;
    background-color: rgba(245, 245, 245, 0.749);
    font: 35px;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

@media screen and (max-width: 800px) {
    .brewery-listing {
        background-image: none;
        background-color: rgba(226, 229, 232, 0.164);
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
    }
    h2 {
        font-size: 25px;
        color: rgb(232, 230, 230);
    }
    a {
        font: 25px;
    }
}