li {
    background-color: white;
    font-size: larger;
    list-style: none;
    padding-left: 20px;
    border: 5px;
    border-color: coral;
    border-style: groove;
    border-radius: 20px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

li:hover {
    background-color: coral;
}

img {
    width: 200px;
    border-radius: 20px;
}

h3 {
    padding: 2px;
    margin: 2px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 250px;
}

@media screen and (max-width: 800px) {
    h3 {
        color: blue;
        font-size: 50px;
        background-color: white;
    }
    li p {
        margin-top: 2px;
        font-size: 20px;
    }
    li {
        width: 250px;
        display: block;
        text-align: center;
    }
    li img {
        width: 200px;
    }
}