li {
    background-color: white;
    font-size: larger;
    list-style: none;
    padding-left: 20px;
    border: 5px;
    border-color: coral;
    border-style: groove;
    border-radius: 20px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

li:hover {
    background-color: coral;
}

img {
    width: 200px;
    border-radius: 20px;
}