<main class="brewery-listing">
    <h2>
        Colorado Springs Breweries
    </h2>

    <ul>
        <app-brewery-listing-items>
        </app-brewery-listing-items>
    </ul>


</main>

<div class="form-wrapper">
    <p>Is your Brewery missing? Let's fix that!</p>
    <form #newBreweryForm="ngForm" class="new-brewery-form" (ngSubmit)="addBrewery(newBreweryForm.value)">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" ngModel />

        <label for="image-url">Image</label>
        <input type="url" name="imageUrl" id="image-url" ngModel />

        <label for="description">description</label>
        <textarea type="text" name="description" id="description" ngModel></textarea>

        <label for="website-url">Website</label>
        <input type="url" name="websiteUrl" id="website-url" ngModel />

        <label for="ipa-option">IPA</label>
        <input type="text" name="ipaOption" id="ipa-option" ngModel />


        <label for="sour-option">Sour</label>
        <input type="text" name="sourOption" id="sour-option" ngModel />

        <label for="stout-option">Stout</label>
        <input type="text" name="stoutOption" id="stout-option" ngModel />

        <label for="wheat-option">Wheat</label>
        <input type="text" name="wheatOption" id="wheat-option" ngModel />

        <label for="belgian-option">Belgian</label>
        <input type="text" name="belgianOption" id="belgian-option" ngModel />

        <label for="amenity-one">Amenity</label>
        <input type="text" name="amenityOne" id="amenity-one" ngModel />

        <label for="amenity-two">Amenity</label>
        <input type="text" name="amenityTwo" id="amenity-two" ngModel />

        <label for="amenity-three">Amenity</label>
        <input type="text" name="amenityThree" id="amenity-three" ngModel />

        <input type="submit" value="Add Brewery" />
    </form>
</div>
